<div class="content-control">
    <span class="start">
      <a href="{{ site.github.url }}{{ site.posts[-1].url }}">
        <img src="{{ site.github.url }}/assets/icons/start.png">
      </a>
    </span>
    <span class="navigation">
      <span id="prev-button">
      {% if page.previous %}
        <a href="{{ site.github.url }}{{ page.previous.url }}">&laquo;Prev</a>
      {% elsif page.url == "/" %}
        <a href="{{ site.github.url }}{{ site.posts[1].url }}">&laquo;Prev</a>
      {% else %}
        &laquo;Prev
      {% endif %}
      </span>

      <img style="cursor: pointer;" id="rand-image" src="{{ site.github.url }}/assets/icons/random.png" onclick="randomPost();"/>

      <span id="next-button">
        {% if page.next %}
          <a href="{{ site.github.url }}{{ page.next.url }}">Next&raquo;</a>
        {% else %}
          Next&raquo;
        {% endif %}
      </span>
    </span>
    <span class="end">
      <a href="{{ site.github.url }}{{ site.posts[0].url }}">
        <img src="{{ site.github.url }}/assets/icons/end.png">
      </a>
    </span>
</div>
