<header class="header">
  <div class="header-container">
    <div class="site-title">
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </div>
    <div class="site-logo">
      <a href="{{ site.github.url }}/">
        <img id="site-logo" src="{{ site.github.url }}/assets/icons/logo.png">
      </a>
    </div>
    {% include social.html %}
    <div class="post-title">
      {% if page.url == "/" %}
        {{ site.posts.first.title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </div>
    <div class="post-date">
      {% if page.url == "/" %}
        {{ site.posts.first.date | date_to_string }}
      {% else %}
        {{ page.date | date_to_string }}
      {% endif %}
    </div>
  </div>
</header>
