<head>
  <title>
    {{ page.title }}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap">
  <script>
      function randomPost() {
        // we keep the list of all post urls, may become problematic as it grows
        posts = [{% for post in site.posts %}"{{ post.url }}",{% endfor %}]
        i = Math.floor(Math.random() * {{site.posts.size}});
        window.location.href = '{{ site.github.url }}' + posts[i];
      }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      post_header = document.getElementById("content-header");
      if (post_header && window.location.pathname != "{{ site.github.url }}/"){
        post_header.scrollIntoView();
      }
    });
  </script>
</head>
