.container{
  width: 613px;
  margin-left: auto;
  margin-right: auto;

  text-align: left;

}

@media only screen and (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

.tags {
  font-size: 1rem;
  word-spacing: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto;
}
.footer-menu {
  text-align: left;
}
.footer-description {
  text-align: right;
}
