.header-container{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;

  .site-title {
    text-align: left;
    font-size: 2rem;
    line-height: 2rem;
    a {text-decoration: none;}
  }

  .site-logo {
    text-align: center;
    #site-logo{
        height: 100%;
    }
  }
  .site-menu {
    position: relative;
  }

  .social-links {
    text-align: right;

    font-size: 1.25rem;
    word-spacing: 1rem;
    a {text-decoration: none;}
  }

}

.header-container > div {
  height: 6rem;
}
